@model MailSend.Models.MailRequest
@{
}

<form method="post">
    <div class="form-group">
        @Html.Label("Alıcı Mil")
        <input type="text" class="form-control" />
    </div>
    <button> Mail Gönder </button>
    
</form>